body{
    width: 30rem !important;
}
.backgoundC{
    background-color: #000204 !important;
}
.container{
    height: 15rem;
}
td{
    
    text-align: center !important;
    background-color: #393839 !important;
    
}


